.acco {
  background-color: rgb(20, 18, 18);
}
.heading {
  margin-top: 100px;
  color: white;
  font-size: 20px;
}
#accordionExample {
  padding: 25px;
}
#headingOne {
  padding: 30px;
  margin-top: 20px;
}
.ca {
  margin-top: 25px;
  padding: 25px;
}
.caa {
  padding: 25px;
}
